
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

.container {
    width: 70%;
    margin: 10px auto;
    padding: 10px 0;
}

.container-box{
    width: 100%;
    margin: 20px 0;
}

.box {
    margin: 0px 10px 0px 10px;
    float: left;
    width: calc(100% / 3 - 10px - 10px );  
}




/* immagine del box */

.box-img {
    position: relative;
}

.box-img img {
    width: 100%;
}

.box-img-heart{
    position: absolute;   
    right: 0;
    padding: 5px 10px;
    font-size: 30px;
    background-color: white;
    margin-top: 10px;
}

.box-img-sconto {
    background-color: red;
    color: white;
    position: absolute;
    bottom: 10px;
}

.box-img-info {
    background-color: green;
    color: white;
    position: absolute; 
    bottom: 10px;
    left: 40px;
}

.box-img-info-alternative {
    left: 0;
}

.origin, .origin-alternative  {
    display: block;
}

.box:hover .origin {
    display: none;
}





/* testo del box */

.box-text {
    padding: 10px 0;
}

.R-levis {
    font-size: 10px;
    vertical-align: super;
}


.box-text p {
    margin-bottom: 5px;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
}

.prezzo {
    color: red;
}

.box-tex-alternative {
    background-color: darkolivegreen;
    padding: 10px 15px;
}

.box-tex-alternative h2 {
    font-size: 18px;  
}




/* bonus */

.effetto-hover {
    display: none;
}

.effetto-hover h2{
    position: absolute;
    background-color: white;
    bottom: 0px;
    padding: 15px;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;    
}

.box:hover .effetto-hover {
    display: block;
}



.box:hover .box-img-info {
    background-color: green;
    color: white;
    position: absolute; 
    bottom: 50px;
    left: 40px;
}

.box:hover .box-img-sconto {
    background-color: red;
    color: white;
    position: absolute;
    bottom: 50px;
}

.box:hover .box-img-info-alternative {
    left: 0;    
}

.box-img-heart:hover {
    font-size: 50px;
    color: red;
}







